<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.app.mvvm_model">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:name=".Movie_Application"

        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity android:name=".presentation.sup.Movies.MoviesActivity" />
    </application>
</manifest>
